/* GLOBAL */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: white;
}

/* NAVBAR */
.navbar {
    position: absolute;
    top: 0;
    width: 90%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 70px;
}

.brand {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.btn-login {
    padding: 10px 22px;
    background: #007bce;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: url("../User/assets/background.png") center/cover no-repeat;
    position: relative;
}


.hero-content {
    position: relative;
    padding-top: 180px;
    padding-left: 60px;
}

.badge {
    display: inline-block;
    background: rgba(255,255,255,0.4);
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 18px;
}

.hero-title {
    font-size: 62px;
    font-weight: 800;
    margin: 0;
    line-height: 1.1;
}

.hero-text {
    font-size: 18px;
    max-width: 500px;
    line-height: 1.5;
    margin-top: 20px;
}

.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.btn-primary {
    background: #007bce;
    padding: 14px 30px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.btn-secondary {
    background: rgba(255,255,255,0.3);
    padding: 14px 30px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
